name: deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    if: ${{ !startsWith(github.event.head_commit.message, 'chore') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Install
        run: npm install --no-package-lock
      - name: Test
        run: npm test
      - name: Deploy
        run: echo "deploy!"
